<div class="container p-5">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Número da conta</th>
                <th>Total na conta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.userName}}</td>
                <td>{{account.cpf}}</td>
                <td>{{account.accountNumber}}</td>
                <td>{{account.accountBalance | currency: 'BRL'}}</td>
                <td>
                    <mat-icon role="button" [routerLink]="['/accounts', account.id]" aria-hidden="false" aria-label="Example home icon">assignment</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>