.card-purple {
    background-color: rgb(97, 49, 180);
    color: white;
}

.text-purple {
    color: rgb(97, 49, 180);
}

.mat-icon {
    cursor: pointer;
    float: right;
    transform: scale(0.9);
    vertical-align: bottom;
}