<div class="container p-5">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-header card-purple">
                    Dados para depósito em conta
                </div>
                <div class="card-body">
                    <div>Banco: 352</div>
                    <div>Agência: 0001 </div>
                    <div>Conta: 300123 </div>
                    <div>Saldo: R$ 1000,00 </div>
                </div>
            </div>
        </div>
    </div>
</div>