<div class="container p-5">
    <div class="row" *ngIf="accountDetails.userName">
        <div class="col-4 offset-4">
            <div class="text-center text-purple">
                <h2>{{accountDetails.userName}}</h2>
            </div>
            <div class="card mt-3">
                <div class="card-header card-purple">
                    <span>Meus dados bancários</span>
                </div>
                <div class="card-body">
                    <div>Banco: {{accountDetails.bank}}</div>
                    <div>Agência: {{accountDetails.branch}} </div>
                    <div>CPF: {{accountDetails.cpf}} </div>
                    <div>Conta: {{accountDetails.accountNumber}} </div>
                </div>                
            </div>
            <div class="card mt-3">
                <div class="card-header card-purple">
                    Saldo disponível em conta
                </div>
                <div class="card-body">
                    <div>Saldo: {{accountDetails.accountBalance | currency:'BRL'}} </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header card-purple">
                    Preview do json
                </div>
                <div class="card-body">
                    <pre>{{ makeDepositRequest | json }}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-4 offset-4" *ngIf="showClipboardMessage">
            <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                <span>Json copiado! Você poderá usá-lo na api do swagger.</span>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!accountDetails.userName">
        <div class="col-4 offset-4">
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                <strong>Usuário não encontrado!</strong>
            </div>
        </div>
    </div>
</div>